.container {
  width: 70%;
  margin: 10px auto;
  background-color: gray;
  align-items: center;
}

h1 {
  color: white;
}

.active{
  color: red;
  size: 100px;
}

.delay {
  opacity: 0.5;
}

button {
  font-size: 16px;
  color: blue;
  width: 30px;
  height: 30px;
}

input {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

#clear {
  width: 90px;
}

#enter {
  width: 60px;
}

.computing {
  position: absolute;
  top: 60px;
  left: 250px;
  border: 3px black solid;
  padding: 50px;
  z-index: 100;
  color: blue;
}
